@inherits LayoutComponentBase

<MudThemeProvider @ref="_mudThemeProvider" @bind-IsDarkMode="_isDarkMode"/>
<MudPopoverProvider/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout Class="d-flex flex-column" Style="height: 100vh; overflow: hidden;">
    <MudAppBar Class="flex-grow-0">
        <MudText Typo="Typo.h6">Pathfinder</MudText>
        <MudSpacer/>
        <div class="align-center d-flex flex-column justify-center">
            <div style="width: 100px; height: 20px;">
                <MudBadge Color="@Color.Error" Content="@("Preview version")" />
            </div>
            <MudText Typo="Typo.caption">This is the preview version. The app contains bugs!</MudText>
        </div>
        <MudSpacer/>
        <MudIconButton Icon="@Icons.Custom.Brands.GitHub" Edge="Edge.End" Href="https://github.com/janpalka4/Pathfinder" />
    </MudAppBar>
    <MudMainContent Class="flex-grow-1">
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider;

    private int currentYear = DateTime.Now.Year;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();

            StateHasChanged();
        }
    }
}